* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    // filter: blur(50px)
}

h1 {
    padding-top: 10px;
    // margin-bottom: 15px;
}

h2 {
    font-size: 15px;
    margin: 5px;
}

#container {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 300px;
    border-radius: 30px;
    border: 2px solid #1538b2;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(2px 2px 10px white);
    // background-color: rgba(255, 255, 255, 0.856);
}

.images__type {
    width: 100px;
    height: 75px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;

}

#translator {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    height: 400px;
    width: 250px;
    align-items: center;
    padding: 10px;
    background-color: inherit;
}


#output__box {
    border: 2px transparent whitesmoke;
    border-radius: 20px;
    height: 100px;
    width: 200px;
    margin: 30px;
    background-color: whitesmoke;
    outline: none;
    font-size: 15px;
}

#input__box {
    border: 2px solid whitesmoke;
    height: 100px;
    width: 200px;
    margin: 30px;
    background-color: whitesmoke;
    -webkit-border-radius: 20px;
    outline: none;
    font-size: 15px;
    text-align: initial;
}

select {
    border-radius: 20px;
    padding: 10px;
    width: 200px;
    margin-bottom: 10px;
    color: whitesmoke;
    background-color: #1538b2;
    outline: none;
    border: none;
}

button {
    border: none;
    background-color: #1538b2;
    color: white;
    margin: 5px;
    border-radius: 15px;
    padding: 15px;
    outline: none;
}

#buttons {
    display: flex;
    flex-direction: row;
}